<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDo_Sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98CF3DF41F8254BF003A80E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98CF3E081F8254BF003A80E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98CF3E131F8254BF003A80E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
